<ion-view view-title="KOT Master" hide-nav-bar="false" hide-back-button="false">    
    
    
<!--
    <div class="tabs-striped tabs-background-assertive tabs-color-light">
     <div class="tabs">
         <a class="tab-item">
             <i class="icon ion-home"></i>
         </a>
         <a class="tab-item">
             <i class="icon ion-star"></i>
         </a>
         <a class="tab-item">
             <i class="icon ion-planet"></i>
         </a>
     </div>
    </div>
-->
    <style>
    .nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs
{
    top: 44px !important;
}
    </style>
    <ion-tabs class="tabs-striped tabs-top tabs-background-light tabs-color-assertive" padding="true">

        <ion-tab title="SPECIALS"> 
            <ion-nav-view name="tab-1">
              <ion-content padding="true" has-header="true">
                  <ion-list>
            <ion-item name="chckbx">Chicken Soup</ion-item>
            <ion-item name="chckbx">Mutton Biriyani</ion-item>
            <ion-item name="chckbx">Fish Fry</ion-item>
            <ion-item name="chckbx">Prawns Roast</ion-item>
            <ion-item name="chckbx">BDF</ion-item>
            <ion-item name="chckbx">Lime Juice</ion-item>
            <ion-item name="chckbx">Vanilla Icecream</ion-item>
        </ion-list>
              </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="CATEGORY">
            <ion-nav-view name="tab-2">
              <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="menu.categoryItem">Soups</ion-item>
            <ion-item ui-sref="menu.categoryItem">Rice</ion-item>
        </ion-list>
    </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="ORDERS" >
            <ion-nav-view name="tab-3">
              <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-checkbox name="chckbx">Chicken Soup</ion-checkbox>
            <ion-checkbox name="chckbx">Mutton Biriyani</ion-checkbox>
            <ion-checkbox name="chckbx">Fish Fry</ion-checkbox>
            <ion-checkbox name="chckbx">Prawns Roast</ion-checkbox>
            <ion-checkbox name="chckbx">BDF</ion-checkbox>
            <ion-checkbox name="chckbx">Lime Juice</ion-checkbox>
            <ion-checkbox name="chckbx">Vanilla Icecream</ion-checkbox>
        </ion-list>
        <button class="button button-assertive button-block ">Push to kitchen</button>
    </ion-content>
            </ion-nav-view>
        </ion-tab>

    </ion-tabs>
    
    
    
    
</ion-view>